@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,400&family=Press+Start+2P&display=swap');
@fontface {
  font-family: 'Montserrat', sans-serif;

  font-family: 'Press Start 2P', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,400&family=Press+Start+2P&display=swap');
}
:root {
  font-family: Montserrat Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #060606;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: inherit;
}
a:hover {
  color: #FFCC00;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #161616;

  background: url('./assets/photos/knightro.jpg');
  background-repeat: no-repeat;
  background-size: 50vw;
  background-attachment: fixed;
  background-size: auto;
  background-position:50vw;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-family: 'Press Start 2P', cursive;
  font-style: normal;
  font-weight: 400;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FFCC00;;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #FFFFFF;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

